.footer {
	min-height: 197px;
	border-top: solid 4px $primary-color;
	position: relative;
	padding-top: 40px;
	font-size: 0.875rem;
	letter-spacing: 1px;
	color: #333333;
	
	&__header {
		font-weight: bold;
		margin-left: 100px;
		margin-bottom: 16px;
	}

	&__list-element {
		text-decoration: none;
		color: #b8b8b8;
		margin-left: 100px;
	}

	&__list {
		margin-bottom: 14px;
	}
}

.footer .container {
	display: flex;
	background-image: url(../img/logo-footer.png);
	background-repeat: no-repeat;
	background-position: right top;
}