.footer {
	display: flex;
	flex-direction: column;
	min-height: 197px;
	border-top: solid 4px $primary-color;
	position: relative;
	background-image: url(../img/logo-footer.png);
	background-repeat: no-repeat;
	background-position: 1080px 57px;
	padding-top: 40px;

}

.footer__list {
	font-size: 0.875rem;
	letter-spacing: 1px;
	color: #333333;

	&_header {
		display: flex;
		flex-direction: column;
		/*font-weight:*/
		}
	}

	.footer__creators {
		color: #cccccc;
		font-size: 0.625rem;
		letter-spacing: 2px;
		word-spacing: 6px;
		text-transform: uppercase;

	}