<div class="discover">
	<h2 class="headlines">Discover holiday activity ideas</h2>
	<div class="gallery">
		<a class="gallery__item gallery__item_activity" href="#">Sport and Activity</a>
		<a class="gallery__item gallery__item_health" href="#">Wellnes and Health</a>
		<a class="gallery__item gallery__item_extreme" href="#">Extreme Sports and Expeditions</a>
		<a class="gallery__item gallery__item_games" href="#">Games</a>
		<a class="gallery__item gallery__item_large gallery__item_culture" href="#">Culture and Education</a>
		<a class="gallery__item gallery__item_large gallery__item_relaxation" href="#">Relaxation</a>
		<a class="gallery__item gallery__item_travelling" href="#">Travelling</a>
	</div>
</div>