<div class="container">
<a href="#" class="promo__logo promo__logo_down">Urlaubsglück</a>
<ul>
		<h4 class="footer__header">Company</h4>
		<li class="footer__list"><a href="#" class="footer__list-element">About</a></li>
		<li class="footer__list"><a href="#" class="footer__list-element">Contacts</a></li>
		<li class="footer__list"><a href="#" class="footer__list-element">Press</a></li>
		<li class="footer__list"><a href="#" class="footer__list-element">Blog</a></li>
	</ul>	
	<ul>
		<h4 class="footer__header">Partners</h4>
	</ul>
</div>