<div class="partners">
	<div class="container">
		<h2 class="headlines">Meet a partner for your best holiday</h2>

		<div>
			<a href="#"><img src="" alt=""></a>
			<h3>Bradley Hunter</h3>
			<p>Based in Chicago. I love playing tennis and loud music.</p>
		</div>

		<div>
			<a href="#"><img src="" alt=""></a>
			<h3>Heather Walker</h3>
			<p>I'm a happy person that loves cats and climbing on mountains.</p>
		</div>

		<div>
			<a href="#"><img src="" alt=""></a>
			<h3>Lucas Marsha</h3>
			<p>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
		</div>

		<div>
			<a href="#"><img src="" alt=""></a>
			<h3>Bradley Hunter</h3>
			<p>Based in Chicago. I love playing tennis and loud music.</p>
		</div>

		<a href="#" class="button button_secondary">See other partners</a>
	</div>
</div>