<div class="partners">
		<h2 class="headlines">Meet a partner for your best holiday</h2>
<div class="flex-row">
		<div class="partners__content">
		<img src="img/partner-1.png" class="partners__image" alt="">
			<h3 class="partners__header">Bradley Hunter</h3>
			<p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
		</div>

		<div class="partners__content">
		<img src="img/partner-2.png" class="partners__image" alt="">
			<h3 class="partners__header person">Heather Walker</h3>
			<p class="partners__text">I'm a happy person that loves cats and climbing on mountains.</p>
		</div>

		<div class="partners__content">
		<img src="img/partner-3.png" class="partners__image" alt="">
			<h3 class="partners__header">Lucas Marsha</h3>
			<p class="partners__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
		</div>

		<div class="partners__content">
		<img src="img/partner-4.png" class="partners__image" alt="">
			<h3 class="partners__header">Bradley Hunter</h3>
			<p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
		</div>
		</div>
		<div class="partners__button">
			<a href="#" class="button button_secondary">See other partners</a>
		</div>
</div>