<div class="promo">
	<div class="container">
		<div class="flex-row">
			<a href="#" class="promo__logo">Urlaubsglück</a>
			<ul class="promo__nav">
			<li class="promo__nav-list-element"><a href="#" class="promo__nav-link">Log in</a></li>
			<li class="promo__nav-list-element"><a href="#" class="promo__nav-link promo__with-border">Sign up</a></li>
			</ul>
		</div>
		<div class="promo__description">
			<h1 class="promo__header promo__main">Share your<br> holiday dreams</h1>
			<p class="promo__content promo__main">And find the perfect partner to fullfill it</p>
			<a href="#" class="button button_primary">Find your holiday partner</a>
		</div>
	</div>
</div>