<div class="slider">
	<div class="container">
		<h2 class="headlines">How Urlaubsglück works?</h2>

		<div class="flex-row">
			<div class="slider__step step step_bg-1">

				<a href="#" class="arrow arrow-left"></a>
				<a href="#" class="arrow arrow-right"></a>

				<a href="#" class="button button_primary button_small step__button">Step 1</a>
				<h3 class="step__header">Sed leo enim, condimentum</h3>
				<p class="step__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>

			<div class="slider__step step step_bg-2">
				<a href="#" class="arrow arrow-left"></a>
				<a href="#" class="arrow arrow-right"></a>

				<a href="#" class="button button_primary button_small step__button">Step 2</a>
				<h3 class="step__header">Morbi velit risus</h3>
				<p class="step__content">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
			</div>

			<div class="slider__step step step_bg-3">
				<a href="#" class="arrow arrow-left"></a>
				<a href="#" class="arrow arrow-right"></a>

				<a href="#" class="button button_primary button_small step__button">Step 3</a>
				<h3 class="step__header">Sed leo enim, condimentum</h3>
				<p class="step__content">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
		</div>

	</div>
</div>